# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="e866kkekpyod"
CONTENTFUL_ACCESS_TOKEN="TDjqaLseuis3uLIUib0lsUpaiUAKoS5Phiva56Jhldg"
